<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Database Management</title>
  </head>
  <body>
    <h1>Yacht Database Management</h1>
    <form action="/import_data" method="post">
      <button type="submit">Import Randomized Data</button>
    </form>

    <h2>Place a Customer Order</h2>
    <form action="/place_order_form" method="get">
      <button type="submit">Go to Order Form</button>
    </form>
    <h2>View Orders Summary</h2>
    <form action="/orders_summary" method="get">
      <button type="submit">Go to Orders Summary</button>
    </form>
    <br>
    <form action="/usecase_student2" method="post">
      <button type="submit">Add order to Employee (student 2)</button>
    </form>
    <br>
    <a href="/report_student2"><button type="button">View Builder-Yacht Report (student 2)</button></a>
</body>
</html>
