<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Database Management</title>
  </head>
  <body>
    <h1>Yacht Database Management</h1>
    <form action="/import_data" method="post">
      <button type="submit">Import Randomized Data</button>
    </form>

    <h2>Student 1 (Curanov)</h2>
    <form action="/place_order_form" method="get">
      <button type="submit">Place a Customer Order</button>
    </form>
    <br>
    <form action="/orders_summary" method="get">
      <button type="submit">View Orders Summary</button>
    </form>
    <br />
    <h2>Student 2 (Ovsiannikov)</h2>
    <form action="/usecase_student2" method="post">
      <button type="submit">Add order to Employee</button>
    </form>
    <br>
    <a href="/report_student2"><button type="button">View Builder-Yacht Report</button></a>
    <br>
    <br>

    <h2>SQL to MongoDB</h2>
    <form action="/migrate_data" method="post">
      <button type="submit">Migrate Data to MongoDB</button>
    </form>
    <br>
    <!-- Button to navigate to the NoSQL Operations page -->
    <a href="/index_nosql"><button type="button">NoSQL Operations</button></a>



  </body>
</html>
