<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Database Management (NoSQL)</title>
  </head>
  <body>
    <h1>Yacht Database Management (NoSQL)</h1>

    <h2>Student 1 (Curanov)</h2>
    <form action="/place_order_form_nosql" method="get">
      <button type="submit">Go to Order Form (NoSQL - Student 1)</button>
    </form>
    <br>
    <form action="/orders_summary_nosql" method="get">
      <button type="submit">Go to Orders Summary (NoSQL - Student 1)</button>
    </form>
    <br>

    <h2>Student 2 (Ovsiannikov)</h2>
    <form action="/usecase_student2_nosql" method="get">
      <button type="submit">Add Order to Employee (NoSQL - Student 2)</button>
    </form>
    
    <br>
    <a href="/report_student2_nosql"><button type="button">View Builder-Yacht Report (NoSQL - Student 2)</button></a>
  </body>
</html>
